# =========================
# Node.js
# =========================
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Python
# =========================
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# =========================
# Environment Files
# =========================
.env
.env.local
.env.*

# =========================
# ML Models
# =========================
*.joblib
*.pkl
*.h5
*.pt
*.pth
saved_models/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/
.DS_Store